<div class="center hero-unit">
  <h1>Twister POC Home</h1>

  <h2>
    This is the home page for the
    <a href="http://localhost:3000/">Twister App POC</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("twisterlogo.png", alt: "Twister Data"), 'http://twisterdatatechnologies.com/' %>